$slide-text-color: #fff;
$regular-red: #ce2a31;
$section-h2-color: #454545;
$regular-text-color: #778097;
$timestamp-color: #000;
$footer-text-color: #fff;
$mobile-menu-color: #fff;
$mobile-active-menu: #ffa4a4;
$regular-menu-color: #778092;
$active-menu-color: #454545;
